body {
    margin: 0;
}
.top-menu {
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
}
.navbar-logo {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: darkred;
    font-family: "social-gothic", sans-serif;
    font-style: normal;
    text-decoration: none;
}
.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
  padding-top: 0.5rem;
}
.menu-main li {display: inline-block;margin: 0 40px;}
.menu-main a {
    text-decoration: none;
    display: block;
    position: relative;
    color: black;
    font-size: 16px;
    font-weight: 850;
    font-family: "eurostile", sans-serif;
    font-style: normal;
    text-transform: uppercase; 
}
.menu-main a:hover{
    border-bottom: 3px solid #8C1212; 
}
#checkbox_toggle{
    display: none;
}
.hamburger{
    display:none;
    font-size: 24px;
    cursor: pointer;
}
.hamburger-line{
    background-color: black;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.hamburger-line::before,
.hamburger-line::after{
    background-color: black;
    content: '';
    display: block;
    position: absolute;
    transition: all .3s;
    width: 100%;
    height: 100%;
}

.hamburger-line::before{
    top: 7px;
}

.hamburger-line::after{
    top: -7px;
}

@media (max-width: 785px){
    #drop-menu{
        max-height: 0;
        overflow: hidden;
        position: absolute;
        background-color: #8C1212;
        color: white;
        text-align: center;
        right: 0;
        left: 0;
        z-index: 100;
    }
    #drop-menu li a{
        display: block;
        padding: 15px;
        color: white;
    }
    #checkbox_toggle:checked ~ #drop-menu{
        display: grid;
        max-height: 100%;
        transition: all .5s;
    }
    .hamburger{
    display:block;
    padding: 20px 0;
    }
}
@media (max-width: 1050px){
    .menu-main li {margin: 0 34px;}
}
@media (max-width: 950px){
    .menu-main li {margin: 0 18px;}
}

.block1{
     background: url(../img/8948.jpg) center no-repeat;
     height: 75vh;
     width: 100%;
     display: block;
     background-size: cover;
     background-position: 25% 64%;
}
.white-block{
    background-color: white;
    opacity: 0.8;
    width: 46rem;
    display: inline-block;
    margin-top: 9rem;
    margin-left: 5rem;
    padding: 55px 25px 55px 25px;
}
.titles{
    text-transform: uppercase;
    font-size: 3.2rem;
    line-height: 72px;
    font-weight: 800;
    font-family: "social-gothic", sans-serif;
    font-style: normal;
}
.description{
    margin-top: 1rem;
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;
    font-family: "eurostile", sans-serif;
    font-style: normal;
    color: black;
}
@media (max-width: 1000px){
    .block1{
        height: 50vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .white-block{
        background-color: white;
        opacity: 0.8;
        width: 46rem;
        display: inline-block;
        padding: 55px 25px 55px 25px;
        margin-top: 0;
        margin-left: 0;
    }
    .titles{
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 46px;
    font-weight: 800;
    font-family: "social-gothic", sans-serif;
    font-style: normal;
    }
    .description{
    margin-top: 1rem;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    font-family: "eurostile", sans-serif;
    font-style: normal;
    color: black;
    }
}